Repository hashicorp/terraform-docs-common, pull requests merged in 2022-07, with the labels that each got.

#58 Update index.mdx:
  website/docs/cloud-docs/integrations/service-now/index.mdx
Labels: documentation, Terraform Cloud

#46 Updating security model to explain new agent authorization controls
  website/docs/cloud-docs/api-docs/agents.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/img/docs/terraform-cloud-authorization.png
Labels: documentation

#30 Feature/trigger patterns
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/run/ui.mdx
  website/docs/cloud-docs/workspaces/settings/vcs.mdx
Labels: tw-reviewed

#57 Generic webhook request payload v2 docs
  website/docs/cloud-docs/api-docs/notification-configurations.mdx
Labels: documentation, new docs, Terraform Cloud

#61 Update index.mdx
  website/docs/cloud-docs/integrations/service-now/index.mdx
Labels: documentation, Terraform Cloud

#70 Remove references to Managed Policies being a deprecated feature
  .gitignore
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/sentinel/manage-policies.mdx
Labels: documentation, clarification, Terraform Cloud

#65 website/docs/plugin: Update the Which SDK page to include two new framework-only features
  website/docs/plugin/which-sdk.mdx
Labels: plugin, tw-reviewed

#73 update changelog to include list runs query parameters
  website/docs/cloud-docs/api-docs/changelog.mdx
Labels: tw-reviewed

#76 plugin/how-terraform-works: Further clarify nested attributes benefits
  website/docs/plugin/how-terraform-works.mdx
Labels: clarification, plugin

#77 Update Runs Page
  website/docs/cloud-docs/run/manage.mdx
  website/img/docs/runs-list.png
  website/img/docs/runs-run-page.png
Labels: tw-reviewed, Terraform Cloud

#78 Adding a workaround note to MS Azure identity config for IdP initiated SSO
  website/docs/cloud-docs/users-teams-organizations/single-sign-on/azure-ad.mdx
Labels: clarification, Terraform Cloud

#79 Link TFC cloud versions tutorials from docs
  website/docs/cloud-docs/run/run-environment.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
Labels: documentation, Terraform Cloud

#72 Update for pre-plan run tasks beta
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/notification-configurations.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-task-stages-and-results.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  website/docs/cloud-docs/api-docs/run.mdx
  website/docs/cloud-docs/run/states.mdx
  website/docs/cloud-docs/run/ui.mdx
  website/docs/cloud-docs/workspaces/settings/notifications.mdx
  website/docs/cloud-docs/workspaces/settings/run-tasks.mdx
  website/img/docs/run-tasks-run-failed.png
  website/img/docs/run-tasks-run-success.png
Labels: documentation, tw-reviewed, Terraform Cloud
