Repository hashicorp/terraform-docs-common, pull requests merged in 2023-04, with the labels that each got.

#319 [TF-5123] Update vcs guide for gitlab.com
  website/docs/cloud-docs/vcs/gitlab-com.mdx
  website/img/docs/gitlab-application-created.png
Labels: documentation, Terraform Cloud

#325 Remove reference to pr outputs
  website/docs/cloud-docs/api-docs/workspaces.mdx
Labels: Terraform Cloud

#286 [TF-1899] Adding on-demand-assessment docs
  website/docs/cloud-docs/workspaces/health.mdx
Labels: documentation, enhancement, Terraform Cloud

#279 Add project variable set relationship APIs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/variable-sets.mdx
Labels: documentation, Terraform Cloud

#332 Add documentation for Vault-backed dynamic credentials
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/index.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/index.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-configuration.mdx
Labels: documentation, Terraform Cloud

#321 Add documentation for authentication token expirations
  website/docs/cloud-docs/api-docs/organization-tokens.mdx
  website/docs/cloud-docs/api-docs/team-tokens.mdx
  website/docs/cloud-docs/api-docs/user-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: enhancement, Terraform Cloud

#334 Clarify localterraform.com docs, add CLI-workflow version requirement
  website/docs/cloud-docs/registry/using.mdx
Labels: documentation, clarification

#333 Add Version Id to Workspace Variables
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspace-variables.mdx
Labels: enhancement

#331 Update provisioning.mdx for GA
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
Labels: documentation, Terraform Cloud

#326 Remove beta note about dynamic credentials
  website/docs/cloud-docs/workspaces/variables/index.mdx
Labels: documentation, tw-reviewed
