Repository hashicorp/terraform-docs-common, pull requests merged in 2023-11, with the labels that each got.

#487 TF-10033 Update the CLI-driven Run Workflow documentation
  website/docs/cloud-docs/run/cli.mdx
Labels: documentation, Terraform Cloud

#491 Include saved cloud plans features in TFE docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
  website/docs/cloud-docs/api-docs/run.mdx
  website/docs/cloud-docs/run/cli.mdx
  website/docs/cloud-docs/run/modes-and-options.mdx
  website/docs/cloud-docs/run/remote-operations.mdx
Labels: Terraform Cloud

#492 Docs for dynamic credentials with Kubernetes
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/index.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/kubernetes-configuration.mdx
Labels: new docs, Terraform Cloud

#488 Update Kubernetes Operator documentation [IPE-186][IPE-158]
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/integrations/kubernetes/api-reference.mdx
  website/docs/cloud-docs/integrations/kubernetes/index.mdx
  website/docs/cloud-docs/integrations/kubernetes/ops-v2-migration.mdx
  website/docs/cloud-docs/integrations/kubernetes/setup.mdx
Labels: Terraform Cloud

#485 Update doc to publish private provider as usage guide
  website/docs/cloud-docs/registry/publish-providers.mdx
Labels: Terraform Cloud

#471 Add troubleshooting for Azure Devops Status Checks
  website/docs/cloud-docs/vcs/troubleshooting.mdx
  website/img/docs/ado-required-status-check.png
Labels: documentation, Terraform Cloud

#493 feat: add auto destroy duration docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/workspaces/settings/deletion.mdx
Labels: Terraform Cloud

#502 Add `authenticated-resource` to account/details
  website/docs/cloud-docs/api-docs/account.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
Labels: Terraform Cloud

#505 Amend run task documentation so it does not reference policy sets
  website/docs/cloud-docs/api-docs/run-tasks/run-task-stages-and-results.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
Labels: documentation, clarification, Terraform Cloud
