Repository hashicorp/terraform-docs-common, pull requests merged in 2023-10, with the labels that each got.

#461 Update SRTR example payload in docs so it is valid JSON
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
Labels: bug, documentation, Terraform Cloud

#462 Add proper JSON:API fields to run tasks example output
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  website/public/schema/run-tasks/example-payload.json
Labels: bug, documentation, clarification, Terraform Cloud

#465 Add tool version attribute to Policy Set Outcomes
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/policy-evaluations.mdx
Labels: documentation, Terraform Cloud

#466 Backport TFE content exclusions to TFC
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
  website/docs/cloud-docs/api-docs/no-code-provisioning.mdx
  website/docs/cloud-docs/api-docs/run.mdx
  website/docs/cloud-docs/api-docs/state-versions.mdx
  website/docs/cloud-docs/run/cli.mdx
  website/docs/cloud-docs/run/manage.mdx
  website/docs/cloud-docs/run/modes-and-options.mdx
  website/docs/cloud-docs/run/remote-operations.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
  website/docs/cloud-docs/workspaces/state.mdx
Labels: documentation, clarification, Terraform Cloud

#470 repo sync
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/private-registry/modules.mdx
  website/docs/cloud-docs/api-docs/private-registry/tests.mdx
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/registry/test.mdx
Labels: automated-reposync-pr

#475 Clarify SSO session behaviors with API tokens in docs [IPE-433]
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: Terraform Cloud

#478 Update Hashicorp Developer website with latest release
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/service-graph-setup.mdx
Labels: documentation, Terraform Cloud, do not merge, ServiceNow

#482 Add document to migrate from Team Edition to Standard Edition [IPE-461]
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/overview/activate-flex.mdx
  website/docs/cloud-docs/overview/migrate-teams-standard.mdx
  website/img/docs/tfc-create-hcp-org.png
  website/img/docs/tfc-edit-plan-standard.png
Labels: Terraform Cloud

#484 Correct parameter descriptions for test endpoints
  website/docs/cloud-docs/api-docs/private-registry/tests.mdx
Labels: Terraform Cloud

#486 Clarify that project names cannot start or end with a space
  website/docs/cloud-docs/api-docs/projects.mdx
Labels: clarification, Terraform Cloud

#490 Add documentation for `schema.ignores` option in OpenAPI Provider spec generator
  website/docs/plugin/code-generation/openapi-generator.mdx
Labels: plugin

#377 Enable auto-apply for run trigger runs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
  website/docs/cloud-docs/workspaces/settings/run-triggers.mdx
Labels: Terraform Cloud
