Repository hashicorp/terraform-docs-common, pull requests merged in 2023-09, with the labels that each got.

#425 Update language for licensing
  website/docs/cloud-docs/api-docs/state-versions.mdx
  website/docs/cloud-docs/recommended-practices/part1.mdx
  website/docs/cloud-docs/recommended-practices/part3.1.mdx
  website/docs/docs/glossary.mdx
  website/docs/plugin/how-terraform-works.mdx
  website/docs/registry/private.mdx
Labels: documentation

#431 Policy Set Exclusion: Product Docs
  website/docs/cloud-docs/policy-enforcement/index.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
Labels: documentation, Terraform Cloud

#423 TF-7749 Update Policy Sets API documentation
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
Labels: documentation, Terraform Cloud

#440 Add subscription and tenant id to Azure example TF
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
Labels: clarification, Terraform Cloud

#436 docs: add default execution mode & agent pools to orgs and workspaces
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
Labels: documentation, Terraform Cloud

#444 Adds documentation for multiple dynamic credentials config support for the AzureAD provider
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
Labels: Terraform Cloud

#439 docs: ephemeral workspaces for workspaces/API
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/notification-configurations.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/workspaces/settings/deletion.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
  website/docs/partials/tfc-package-callouts/ephemeral-workspaces.mdx
Labels: documentation, Terraform Cloud

#445 Mark audit trail API page as TFC only, exclude reference in TFE docs
  website/docs/cloud-docs/api-docs/audit-trails.mdx
  website/docs/cloud-docs/api-docs/index.mdx
Labels: clarification, Terraform Cloud

#427 Adding errored state endpoint docs
  website/docs/cloud-docs/api-docs/applies.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
Labels: new docs

#449 Update managing variables with suggestion from support
  website/docs/cloud-docs/workspaces/variables/managing-variables.mdx
Labels: documentation

#448 Add note on tag requirements
  website/docs/cloud-docs/api-docs/organization-tags.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
Labels: clarification

#454 Specify workspace name search is fuzzy
  website/docs/cloud-docs/api-docs/workspaces.mdx
Labels: clarification

#450 update the name of provisional state version to be intermediate state…
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/state-versions.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/workspaces/state.mdx
Labels: documentation, Terraform Cloud

#447 Clarify usage of data sources with Vault dynamic credentials
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-configuration.mdx
Labels: clarification, Terraform Cloud

#442 Document no-code workspace update APIs
  website/docs/cloud-docs/api-docs/no-code-provisioning.mdx
Labels: documentation, Terraform Cloud

#457 repo sync
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
Labels: automated-reposync-pr

#413 Streamlined run task reviews: Update API changelog, add integration docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  website/docs/cloud-docs/integrations/run-tasks/index.mdx
  website/public/schema/run-tasks/runtask-outcome.json
  website/public/schema/run-tasks/runtask-result.json
  website/public/schema/run-tasks/structured-run-task-result-schema.json
Labels: documentation, new docs, Terraform Cloud
