Repository hashicorp/terraform-docs-common, pull requests merged in 2023-08, with the labels that each got.

#395 TF-6866 Update policy sets documentation
  website/docs/cloud-docs/policy-enforcement/index.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
  website/docs/cloud-docs/policy-enforcement/opa/index.mdx
  website/docs/cloud-docs/policy-enforcement/opa/vcs.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/index.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/vcs.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
Labels: documentation, Terraform Cloud

#419 Adds `provisional` field to `configuration-versions` API docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
Labels: Terraform Cloud, do not merge

#415 Add recommendation to consider using dynamic credentials in security model
  website/docs/cloud-docs/architectural-details/security-model.mdx
Labels: documentation, Terraform Cloud

#424 Add corresponding note to TFC docs for TFE using v2 of the Terraform Cloud Kubernetes Operator
  website/docs/cloud-docs/integrations/kubernetes/ops-v2-migration.mdx
Labels: documentation

#364 Update PnP callouts to use partials
  website/docs/cloud-docs/api-docs/agent-tokens.mdx
  website/docs/cloud-docs/api-docs/agents.mdx
  website/docs/cloud-docs/api-docs/assessment-results.mdx
  website/docs/cloud-docs/api-docs/audit-trails.mdx
  website/docs/cloud-docs/api-docs/notification-configurations.mdx
  website/docs/cloud-docs/api-docs/policies.mdx
  website/docs/cloud-docs/api-docs/policy-checks.mdx
  website/docs/cloud-docs/api-docs/policy-set-params.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-task-stages-and-results.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  website/docs/cloud-docs/api-docs/teams.mdx
  website/docs/cloud-docs/integrations/run-tasks/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-catalog-config.mdx
  website/docs/cloud-docs/integrations/splunk/index.mdx
  website/docs/cloud-docs/no-code-provisioning/module-design.mdx
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
  website/docs/cloud-docs/overview/index.mdx
  website/docs/cloud-docs/policy-enforcement/index.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
  website/docs/cloud-docs/policy-enforcement/opa/index.mdx
  website/docs/cloud-docs/policy-enforcement/opa/vcs.mdx
  website/docs/cloud-docs/policy-enforcement/policy-results.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfconfig-v2.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfconfig.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfplan-v2.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfplan.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfrun.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfstate-v2.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfstate.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/index.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/json.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/mock.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/sentinel-tf-012.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/vcs.mdx
  website/docs/cloud-docs/registry/add.mdx
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/run/cli.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/docs/cloud-docs/users-teams-organizations/teams.mdx
  website/docs/cloud-docs/workspaces/health.mdx
  website/docs/cloud-docs/workspaces/index.mdx
  website/docs/cloud-docs/workspaces/organize-workspaces-with-projects.mdx
  website/docs/cloud-docs/workspaces/settings/notifications.mdx
  website/docs/cloud-docs/workspaces/settings/run-tasks.mdx
  website/docs/partials/tfc-package-callouts/agents.mdx
  website/docs/partials/tfc-package-callouts/audit-trails.mdx
  website/docs/partials/tfc-package-callouts/health-assessments.mdx
  website/docs/partials/tfc-package-callouts/nocode.mdx
  website/docs/partials/tfc-package-callouts/policies.mdx
  website/docs/partials/tfc-package-callouts/project-permissions.mdx
  website/docs/partials/tfc-package-callouts/run-tasks.mdx
  website/docs/partials/tfc-package-callouts/servicenow-catalog.mdx
  website/docs/partials/tfc-package-callouts/team-management.mdx
Labels: enhancement, Terraform Cloud

#412 Add sentence about Terraform Cloud Usernames
  website/docs/cloud-docs/users-teams-organizations/single-sign-on/azure-ad.mdx
Labels: documentation

#385 docs: use configuration drift when describing drift detection
  website/docs/cloud-docs/index.mdx
  website/docs/cloud-docs/run/modes-and-options.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/docs/cloud-docs/workspaces/health.mdx
  website/docs/cloud-docs/workspaces/index.mdx
Labels: clarification, Terraform Cloud

#430 Structured Run Task Json Schema example payload
  website/public/schema/run-tasks/example-payload.json
  website/public/schema/run-tasks/runtask-outcome.json
  website/public/schema/run-tasks/runtask-result.json
  website/public/schema/run-tasks/runtask-rich-label.json
  website/public/schema/run-tasks/runtask-tag.json
  website/public/schema/run-tasks/structured-run-task-result-schema.json
Labels: documentation, Terraform Cloud

#428 Update Runs API for new saved plan runs functionality
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/run.mdx
Labels: documentation, enhancement, Terraform Cloud

#363 Fix link to OPA VCS page in manage-policy-sets.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
Labels: documentation, Terraform Cloud

#433 Run workflow updates for saved cloud plans
  website/docs/cloud-docs/run/cli.mdx
  website/docs/cloud-docs/run/manage.mdx
  website/docs/cloud-docs/run/modes-and-options.mdx
  website/docs/cloud-docs/run/remote-operations.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
Labels: enhancement, Terraform Cloud
