Repository hashicorp/terraform-docs-common, pull requests merged in 2023-07, with the labels that each got.

#378 Documentation for configuration-driven import and generated configuration in Terraform Cloud
  website/docs/cloud-docs/api-docs/applies.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/plans.mdx
  website/docs/cloud-docs/api-docs/run.mdx
  website/docs/cloud-docs/run/modes-and-options.mdx
  website/docs/cloud-docs/run/remote-operations.mdx
  website/docs/cloud-docs/workspaces/state.mdx
Labels: documentation, enhancement, Terraform Cloud

#394 improve the Call sales CTA on TFC Cost estimation doc
  website/docs/cloud-docs/overview/estimate-terraform-cloud-cost.mdx
Labels: documentation, Terraform Cloud

#401 Remove warning about self-signed certs for Vault-backed credentials
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/gcp-configuration.mdx
Labels: documentation, clarification

#398 [TF-7744] Update workspaces/creating.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
Labels: documentation, clarification, Terraform Cloud

#399 Add documentation to activate HashiCorp Flex
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/overview/activate-flex.mdx
  website/docs/cloud-docs/overview/activate-payg.mdx
  website/img/docs/tfc-account-summary.png
  website/img/docs/tfc-flex-vs-payg.png
  website/img/docs/tfc-plan-org-select.png
  website/redirects.js
Labels: documentation, Terraform Cloud

#397 API docs fixups
  website/docs/cloud-docs/api-docs/notification-configurations.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
Labels: documentation

#393 Terraform Cloud Kubernetes Operator v2 Migration Guide
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/integrations/kubernetes/k8s-ops-v2-migration.mdx
Labels: documentation, Terraform Cloud

#375 ServiceNow Service Graph Connector for Terraform - 1.0.0 GA documentation
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/admin-guide.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/developer-reference.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/example-customizations.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-catalog-config.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-now-v1/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/customizations.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/resource-coverage/aws.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/resource-coverage/azure.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/resource-coverage/gcp.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/resource-coverage/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/resource-coverage/vsphere.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/service-graph-setup.mdx
  website/img/docs/service-now-service-graph-apikey.png
  website/img/docs/service-now-service-graph-conditional-class-mapping.png
  website/img/docs/service-now-service-graph-deactivate-etl.png
  website/img/docs/service-now-service-graph-design.png
  website/img/docs/service-now-service-graph-etl-attribute-mapping.png
  website/img/docs/service-now-service-graph-etl-condition-update.png
  website/img/docs/service-now-service-graph-etl-editing-relationship.png
  website/img/docs/service-now-service-graph-etl-setting-relationship.png
  website/img/docs/service-now-service-graph-import-set.png
  website/img/docs/service-now-service-graph-scheduled-import.png
  website/img/docs/service-now-service-graph-state-object-url.png
  website/img/docs/service-now-service-graph-tags.png
  website/img/docs/service-now-service-graph-team-token-gen.png
  website/img/docs/service-now-service-graph-tfconn.png
  website/img/docs/service-now-service-graph-webhook-schedule.png
  website/img/docs/service-now-service-graph-webhook-tfc.png
  website/img/docs/service-now-service-graph-webhook-token.png
  website/redirects.js
Labels: documentation, Terraform Cloud, do not merge, ServiceNow

#405 docs: fix remaining problems from #400
  website/docs/cloud-docs/workspaces/health.mdx
Labels: clarification, Terraform Cloud

#371 TF-6685 Add custom permissions documentation to team project access docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/project-team-access.mdx
  website/docs/cloud-docs/api-docs/projects.mdx
  website/docs/cloud-docs/api-docs/team-access.mdx
  website/docs/cloud-docs/api-docs/team-members.mdx
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/docs/cloud-docs/workspaces/settings/access.mdx
  website/img/docs/terraform-cloud-authorization.png
Labels: enhancement, Terraform Cloud

#406 docs: fix remaining problems from #405
  website/docs/cloud-docs/workspaces/health.mdx
Labels: clarification, Terraform Cloud

#410 Add documentation for specifying multiple configurations for dynamic credentials
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/manual-generation.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/specifying-multiple-configurations.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-configuration.mdx
Labels: documentation, Terraform Cloud

#411 Update documentation for Vault-backed Azure / AWS sleep seconds
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/azure-configuration.mdx
Labels: documentation, Terraform Cloud
