Repository hashicorp/terraform-docs-common, pull requests merged in 2023-01, with the labels that each got.

#234 Remove unnecessary escape that is being rendered on live site
  website/docs/cloud-docs/integrations/service-now/index.mdx
Labels: documentation, clarification

#235 Fix HTTP verb for safe-delete workspace
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
Labels: bug, Terraform Cloud

#219 Add 'Reverting to a Previous State' to Workspace / State Manipulation docs
  website/docs/cloud-docs/workspaces/state.mdx
Labels: documentation, do not merge

#218 PATCH state-versions revert API docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/state-versions.mdx
Labels: documentation

#237 Projects docs
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/api-docs/project-team-access.mdx
  website/docs/cloud-docs/api-docs/projects.mdx
  website/docs/cloud-docs/api-docs/teams.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/docs/cloud-docs/integrations/service-now/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-now-v1/index.mdx
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
  website/docs/cloud-docs/overview.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/docs/cloud-docs/users-teams-organizations/teams.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
  website/docs/cloud-docs/workspaces/index.mdx
  website/docs/cloud-docs/workspaces/naming.mdx
  website/docs/cloud-docs/workspaces/organize-workspaces-with-projects.mdx
  website/docs/cloud-docs/workspaces/settings/access.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
  website/docs/cloud-docs/workspaces/variables/managing-variables.mdx
  website/img/docs/terraform-cloud-authorization.png
Labels: Terraform Cloud

#233 Replaces 'sentinel' with 'policy_enforcement' in FeatureSet and EntitlementSet docs
  website/docs/cloud-docs/api-docs/feature-sets.mdx
  website/docs/cloud-docs/api-docs/index.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/api-docs/subscriptions.mdx
Labels: documentation

#242 Adding Terraform Plugin Protocol top-level section (#241)
  website/data/plugin-nav-data.json
  website/docs/plugin/how-terraform-works.mdx
  website/docs/plugin/terraform-plugin-protocol.mdx
  website/img/docs/terraform-plugin-protocol-6-rpcs-all.png
  website/img/docs/terraform-plugin-protocol-6-rpcs-apply.png
  website/img/docs/terraform-plugin-protocol-6-rpcs-plan.png
  website/img/docs/terraform-plugin-protocol-6-rpcs-validate.png
Labels: documentation, plugin

#258 Update links to cross-org registry sharing
  website/docs/cloud-docs/registry/index.mdx
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/registry/publish-providers.mdx
  website/docs/cloud-docs/registry/using.mdx
Labels: documentation

#239 replace aws_rds_cluster with aws_rds_cluster_instance
  website/docs/cloud-docs/cost-estimation/aws.mdx
  website/docs/cloud-docs/cost-estimation/azure.mdx
  website/docs/cloud-docs/cost-estimation/gcp.mdx
Labels: documentation

#259 Add documentation for dynamic provider credentials
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/run/run-environment.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/index.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/manual-generation.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/workload-identity-tokens.mdx
  website/docs/cloud-docs/workspaces/variables/index.mdx
  website/docs/cloud-docs/workspaces/variables/managing-variables.mdx
Labels: documentation, Terraform Cloud

#251 Read Access at Org-Level
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/teams.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
Labels: documentation, Terraform Cloud

#174 Correct the list of workspace permissions granted
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
Labels: documentation, tw-reviewed, Terraform Cloud

#261 Add new testing path to plugin data json
  website/data/plugin-nav-data.json
Labels: plugin, new docs

#257 chore: fix content exclusion comment
  website/docs/cloud-docs/api-docs/changelog.mdx
Labels: bug, documentation
