Repository hashicorp/terraform-docs-common, pull requests merged in 2023-12, with the labels that each got.

#514 Add a section on TFE to the TFC README
  README.md
Labels: documentation

#517 Add Data retention to TFC docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
  website/docs/cloud-docs/api-docs/state-versions.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/docs/cloud-docs/workspaces/settings/deletion.mdx
Labels: documentation, Terraform Cloud

#516 Clean up policy sets page
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
Labels: Terraform Cloud

#497 [TF-10597] Post Apply Docs
  website/docs/cloud-docs/api-docs/run-tasks/run-task-stages-and-results.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  website/docs/cloud-docs/run/states.mdx
  website/docs/cloud-docs/workspaces/settings/run-tasks.mdx
Labels: documentation, enhancement, Terraform Cloud
