Repository hashicorp/terraform-docs-common, pull requests merged in 2023-03, with the labels that each got.

#275 Add documentation for the manage membership team permission
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/organization-memberships.mdx
  website/docs/cloud-docs/api-docs/teams.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/docs/cloud-docs/users-teams-organizations/teams.mdx
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: enhancement

#287 fix link to Provisioning No-Code Infrastructure
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/registry/using.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
Labels: bug, Terraform Cloud

#283 Add documentation for GitHub App API changes within Terraform Cloud
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/github-app-installations.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/api-docs/private-registry/modules.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: documentation, Terraform Cloud

#288 Dynamic credentials GA docs
  website/docs/cloud-docs/run/run-environment.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/aws-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/azure-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/gcp-configuration.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/index.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/manual-generation.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-configuration.mdx
Labels: documentation, Terraform Cloud

#256 Update team project access docs to include new project roles
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/project-team-access.mdx
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/img/docs/terraform-cloud-authorization.png
Labels: Terraform Cloud

#295 Added new Plugin Development best practices section (migrated from SDKv2 repo)
  website/data/plugin-nav-data.json
  website/docs/plugin/best-practices/hashicorp-provider-design-principles.mdx
  website/docs/plugin/best-practices/index.mdx
  website/docs/plugin/best-practices/interacting-with-providers.mdx
  website/docs/plugin/best-practices/naming.mdx
  website/docs/plugin/best-practices/provider-code.mdx
  website/docs/plugin/best-practices/sensitive-state.mdx
  website/docs/plugin/best-practices/versioning.mdx
  website/docs/plugin/index.mdx
Labels: documentation, plugin

#309 Update testing docs for OPA policies
  website/docs/cloud-docs/policy-enforcement/opa/index.mdx
Labels: documentation

#297 Update Organization Permissions Documentation
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/integrations/service-now/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-now-v1/index.mdx
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
  website/docs/cloud-docs/workspaces/organize-workspaces-with-projects.mdx
  website/docs/cloud-docs/workspaces/settings/access.mdx
  website/docs/cloud-docs/workspaces/variables/managing-variables.mdx
Labels: documentation, clarification, Terraform Cloud

#315 Move Variable Sets next to Variables
  website/data/cloud-docs-nav-data.json
Labels: documentation, Terraform Cloud

#314 Update limitations section for Github Apps
  website/docs/cloud-docs/vcs/github-app.mdx
Labels: documentation, Terraform Cloud

#316 Add missing `sort` query param to workspace list API
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
Labels: documentation, clarification, tw-reviewed, Terraform Cloud
