Repository hashicorp/terraform-docs-common, pull requests merged in 2024-02, with the labels that each got.

#542 Update Data Retention Policy Docs
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
  website/docs/cloud-docs/api-docs/state-versions.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/workspaces/settings/deletion.mdx
Labels: documentation, clarification

#548 Update tfrun docs to use null over undefined
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfrun.mdx
Labels: Terraform Cloud, Policies

#549 Add resource_drift documentation for tfplan/v2
  website/docs/cloud-docs/policy-enforcement/sentinel/import/tfplan-v2.mdx
Labels: Terraform Cloud, Policies

#515 docs: add explorer api docs and query builder ui docs
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/explorer.mdx
  website/docs/cloud-docs/workspaces/explorer.mdx
  website/docs/cloud-docs/workspaces/health.mdx
  website/img/docs/query-builder.png
  website/img/docs/tfc-explorer-health.png
Labels: new docs, Terraform Cloud, do not merge

#553 Remove the beta tag from Explorer page
  website/docs/cloud-docs/workspaces/explorer.mdx
Labels: Terraform Cloud

#557 Post-apply doc update
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks-integration.mdx
Labels: Terraform Cloud

#558 Update the Explorer image to remove beta ref
  website/img/docs/terraform-cloud-explorer-landing-page.png
Labels: bug, Terraform Cloud
