Repository hashicorp/terraform-docs-common, pull requests merged in 2024-03, with the labels that each got.

#565 Rename SSO to SSO Identities
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: clarification

#562 Update documentation to reflect the modified rate limits for runs list polling
  website/docs/cloud-docs/api-docs/index.mdx
  website/docs/cloud-docs/api-docs/run.mdx
Labels: Terraform Cloud

#570 Update Terraform data security object names
  website/docs/cloud-docs/architectural-details/data-security.mdx
Labels: documentation, Terraform Cloud

#564 PSKU: Add private policy agent feature entitlement description
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/feature-sets.mdx
  website/docs/cloud-docs/api-docs/index.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/api-docs/subscriptions.mdx
Labels: documentation, Terraform Cloud, Policies

#503 TF-9201 Update OAuth Clients Documentation
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/oauth-clients.mdx
  website/docs/cloud-docs/vcs/azure-devops-server.mdx
  website/docs/cloud-docs/vcs/azure-devops-services.mdx
  website/docs/cloud-docs/vcs/bitbucket-cloud.mdx
  website/docs/cloud-docs/vcs/bitbucket-server.mdx
  website/docs/cloud-docs/vcs/github-enterprise.mdx
  website/docs/cloud-docs/vcs/github.mdx
  website/docs/cloud-docs/vcs/gitlab-com.mdx
  website/docs/cloud-docs/vcs/gitlab-eece.mdx
  website/docs/cloud-docs/vcs/index.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
Labels: documentation, Terraform Cloud

#576 Be explicit that function names should use underscores to separate words
  website/docs/plugin/best-practices/naming.mdx
Labels: clarification, plugin

#579 Update terraform test documentation for TF_VAR_x env variables
  website/docs/cloud-docs/registry/test.mdx
Labels: Terraform Cloud

#574 TF-12000 - Bitbucket Server Deprecation
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/oauth-clients.mdx
  website/docs/cloud-docs/api-docs/private-registry/modules.mdx
  website/docs/cloud-docs/api-docs/ssh-keys.mdx
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/vcs/bitbucket-cloud.mdx
  website/docs/cloud-docs/vcs/bitbucket-data-center.mdx
  website/docs/cloud-docs/vcs/bitbucket-server.mdx
  website/docs/cloud-docs/vcs/index.mdx
  website/docs/cloud-docs/vcs/troubleshooting.mdx
  website/docs/docs/glossary.mdx
  website/redirects.js
Labels: clarification

#575 Private-VCS: Add private-vcs to feature entitlements
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/feature-sets.mdx
  website/docs/cloud-docs/api-docs/index.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/api-docs/subscriptions.mdx
Labels: documentation, Terraform Cloud

#593 Fix typo on Workspace Health page
  website/docs/cloud-docs/workspaces/health.mdx
Labels: documentation, Terraform Cloud
