Repository hashicorp/terraform-docs-common, pull requests merged in 2024-01, with the labels that each got.

#522 Update free tier description [IPE-463]
  website/docs/cloud-docs/overview/index.mdx
Labels: Terraform Cloud

#521 [TF-11689] Update organization settings
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/organizations.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations.mdx
  website/img/docs/organization-vcs-general-aggregated-status-checks.png
  website/img/docs/organization-vcs-general-non-aggregated-status-checks.png
Labels: documentation, Terraform Cloud

#523 Update policy-sets.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
Labels: documentation

#524 TF-11711-update workspace version setting doc
  website/docs/cloud-docs/workspaces/settings/index.mdx
Labels: Terraform Cloud

#508 Rk/tfe december fixes
  website/docs/cloud-docs/api-docs/account.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/policies.mdx
  website/docs/cloud-docs/api-docs/policy-checks.mdx
  website/docs/cloud-docs/api-docs/policy-evaluations.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/api-docs/private-registry/modules.mdx
  website/docs/cloud-docs/api-docs/private-registry/tests.mdx
  website/docs/cloud-docs/api-docs/run-triggers.mdx
  website/docs/cloud-docs/api-docs/run.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
  website/docs/cloud-docs/registry/publish-modules.mdx
  website/docs/cloud-docs/run/remote-operations.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
Labels: documentation

#525 Clarify that current config versions will not be archived
  website/docs/cloud-docs/api-docs/configuration-versions.mdx
  website/docs/cloud-docs/workspaces/configurations.mdx
Labels: clarification

#533 website/docs/cloud-docs/integrations/kubernetes: Update API reference
  website/docs/cloud-docs/integrations/kubernetes/api-reference.mdx
Labels: Terraform Cloud

#532 website/docs/cloud-docs/integrations/kubernetes: A new operator controller
  website/docs/cloud-docs/integrations/kubernetes/index.mdx
Labels: Terraform Cloud

#535 Remove beta flag from tfc testing page [IPE-481]
  website/docs/cloud-docs/registry/test.mdx
Labels: Terraform Cloud

#537 Fix quote typo in GCP Dynamic Creds example
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/gcp-configuration.mdx
Labels: bug

#536 Add api documentation for filtering tests by source
  website/docs/cloud-docs/api-docs/private-registry/tests.mdx
Labels: Terraform Cloud

#539 Add VCS status checks and reorganize the organization docs a bit
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/vcs-status-checks.mdx
Labels: documentation

#541 TF-12190: document 300 changed files limit
  website/docs/cloud-docs/run/ui.mdx
Labels: documentation

#540 User Settings rename to Account Settings
  website/docs/cloud-docs/api-docs/github-app-installations.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/api-docs/private-registry/modules.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/cloud-docs/users-teams-organizations/2fa.mdx
  website/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/users-teams-organizations/single-sign-on/index.mdx
  website/docs/cloud-docs/users-teams-organizations/single-sign-on/linking-user-account.mdx
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: documentation, Terraform Cloud

#520 ServiceNow Service Catalog for Terraform - documentation updates: new workspace paragraphs, fixing execution mode.
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-catalog-config.mdx
Labels: documentation, Terraform Cloud, do not merge, ServiceNow

#543 Expanding payload information for Audit Trails API
  website/docs/cloud-docs/api-docs/audit-trails.mdx
  website/docs/cloud-docs/api-docs/changelog.mdx
Labels: documentation, Terraform Cloud

#534 Document TFC session timeouts [IPE-582]
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: Terraform Cloud

#544 Small changes from the TFE January release
  website/docs/cloud-docs/api-docs/private-registry/tests.mdx
  website/docs/cloud-docs/registry/test.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
Labels: documentation

#547 Updating viewing VCS events
  website/docs/cloud-docs/vcs/index.mdx
Labels: documentation
