Repository hashicorp/terraform-docs-common, pull requests merged in 2024-08, with the labels that each got.

#693 Project-level ephemeral workspace settings
  website/docs/cloud-docs/api-docs/projects.mdx
  website/docs/cloud-docs/projects/managing.mdx
  website/docs/cloud-docs/workspaces/settings/deletion.mdx
Labels: documentation, HCP Terraform

#695 ServiceNow Service Graph Connector - updating the list of supported SNOW versions.
  website/docs/cloud-docs/integrations/service-now/service-graph/service-graph-setup.mdx
Labels: documentation, HCP Terraform, ServiceNow

#667 TF-14957 Add Team Tokens Index API
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/team-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/api-tokens.mdx
  website/docs/cloud-docs/users-teams-organizations/teams.mdx
Labels: documentation, HCP Terraform, do not merge

#701 Update notifications.mdx to account for new MS Teams requirements
  website/docs/cloud-docs/workspaces/settings/notifications.mdx
Labels: documentation, HCP Terraform

#705 Update Workspace API creation examples to remove unneeded attributes
  website/docs/cloud-docs/api-docs/workspaces.mdx
Labels: clarification, HCP Terraform, event/terraform-docs-day

#704 Fix Variable Set API creation attribute paths
  website/docs/cloud-docs/api-docs/variable-sets.mdx
Labels: clarification, HCP Terraform, event/terraform-docs-day

#707 ServiceNow Terraform Catalog – adding a missing step about changing the scope.
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/developer-reference.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/example-customizations.mdx
Labels: documentation, HCP Terraform, ServiceNow, event/terraform-docs-day

#711 Fix and de-dupe workspace API responses
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/workspaces.mdx
  website/docs/partials/api-code-blocks/workspace-with-vcs.mdx
  website/docs/partials/api-code-blocks/workspace.mdx
  website/docs/partials/api-code-blocks/workspaces-list.mdx
Labels: bug, HCP Terraform, event/terraform-docs-day

#706 Add docs for new organization scoped runs list endpoint
  website/docs/cloud-docs/api-docs/run.mdx
Labels: HCP Terraform

#713 parallel tweaks made in ptfe auto docs PR
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/no-code-provisioning.mdx
  website/docs/cloud-docs/api-docs/teams.mdx
  website/docs/cloud-docs/integrations/kubernetes/annotations-and-labels.mdx
  website/docs/cloud-docs/integrations/kubernetes/api-reference.mdx
  website/docs/cloud-docs/registry/index.mdx
  website/docs/cloud-docs/run/states.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
  website/docs/cloud-docs/workspaces/dynamic-provider-credentials/vault-backed/index.mdx
Labels: documentation

#714 Update notifications.mdx
  website/docs/cloud-docs/workspaces/settings/notifications.mdx
Labels: documentation

#715 docs(explorer): update runs by status use case name
  website/img/docs/terraform-cloud-explorer-landing-page.png
Labels: clarification, HCP Terraform

#708 Update GitHub VCS docs
  website/docs/cloud-docs/vcs/github-enterprise.mdx
  website/docs/cloud-docs/vcs/github.mdx
  website/img/docs/gh-authorize.png
  website/img/docs/gh-fields-empty.png
  website/img/docs/gh-secrets.png
  website/img/docs/hcp-terraform-logo-on-white.png
Labels: documentation, event/terraform-docs-day

#720 Fix logo download links on GitHub docs
  website/docs/cloud-docs/vcs/github-enterprise.mdx
  website/docs/cloud-docs/vcs/github.mdx
Labels: documentation, event/terraform-docs-day

#723 Reword post-apply stage to remove ambiguity
  website/docs/cloud-docs/run/states.mdx
Labels: documentation, HCP Terraform

#712 Updates and corrections for generated module tests
  website/docs/cloud-docs/registry/test.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/users-teams-organizations/permissions.mdx
Labels: documentation, event/terraform-docs-day
