Repository hashicorp/terraform-docs-common, pull requests merged in 2024-04, with the labels that each got.

#594 Add callout to the style guide in the Terraform recommended practices page
  website/docs/cloud-docs/recommended-practices/index.mdx
Labels: documentation

#583 Security model update for Terraform Cloud Agents and Request Forwarding
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/img/docs/terraform-cloud-authorization.png
Labels: documentation, Terraform Cloud

#591 [Due: Apr 4] Docs updates for dedicated projects UI
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/api-docs/audit-trails.mdx
  website/docs/cloud-docs/api-docs/oauth-clients.mdx
  website/docs/cloud-docs/api-docs/policies.mdx
  website/docs/cloud-docs/api-docs/policy-sets.mdx
  website/docs/cloud-docs/integrations/kubernetes/api-reference.mdx
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
  website/docs/cloud-docs/policy-enforcement/index.mdx
  website/docs/cloud-docs/policy-enforcement/manage-policy-sets.mdx
  website/docs/cloud-docs/policy-enforcement/opa/index.mdx
  website/docs/cloud-docs/policy-enforcement/opa/vcs.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/index.mdx
  website/docs/cloud-docs/policy-enforcement/sentinel/vcs.mdx
  website/docs/cloud-docs/projects/index.mdx
  website/docs/cloud-docs/projects/managing.mdx
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/users-teams-organizations/single-sign-on/index.mdx
  website/docs/cloud-docs/workspaces/creating.mdx
  website/docs/cloud-docs/workspaces/index.mdx
  website/docs/cloud-docs/workspaces/organize-workspaces-with-projects.mdx
  website/docs/cloud-docs/workspaces/settings/index.mdx
  website/redirects.js
Labels: new docs, Terraform Cloud

#560 TF-13318 Update Project API documentation
  website/docs/cloud-docs/api-docs/changelog.mdx
  website/docs/cloud-docs/api-docs/projects.mdx
Labels: documentation, Terraform Cloud, do not merge

#586 Update global run tasks documentation for general release
  website/docs/cloud-docs/api-docs/run-tasks/run-tasks.mdx
  website/docs/cloud-docs/workspaces/settings/run-tasks.mdx
Labels: documentation, enhancement

#611 Update run tasks docs and speculative plans to reflect present UI
  website/docs/cloud-docs/run/remote-operations.mdx
  website/docs/cloud-docs/run/states.mdx
Labels: documentation

#608 ServiceNow Service Catalog for Terraform - Customizations (updated page)
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/example-customizations.mdx
  website/img/docs/servicenow-catalog-add-variables-to-action.png
  website/img/docs/servicenow-catalog-adjust-script-variables.png
  website/img/docs/servicenow-catalog-configure-item.png
  website/img/docs/servicenow-catalog-copied-item.png
  website/img/docs/servicenow-catalog-copy-action.png
  website/img/docs/servicenow-catalog-copy-flow.png
  website/img/docs/servicenow-catalog-edit-flow.png
  website/img/docs/servicenow-catalog-fill-new-action-step.png
  website/img/docs/servicenow-catalog-get-variables.png
  website/img/docs/servicenow-catalog-new-varset-form.png
  website/img/docs/servicenow-catalog-new-varset.png
  website/img/docs/servicenow-catalog-open-action.png
  website/img/docs/servicenow-catalog-original-flow.png
  website/img/docs/servicenow-catalog-process-engine.png
  website/img/docs/servicenow-catalog-remove-example-variables-from-action.png
  website/img/docs/servicenow-catalog-remove-example-variables.png
  website/img/docs/servicenow-catalog-rename-action.png
  website/img/docs/servicenow-catalog-replace-action.png
  website/img/docs/servicenow-catalog-service-portal.png
  website/img/docs/servicenow-catalog-update-process-engine.png
  website/img/docs/servicenow-catalog-variables.png
Labels: documentation, Terraform Cloud, ServiceNow

#567 ServiceNow Service Catalog v2.5.0 updates, Washington DC updates.
  website/data/cloud-docs-nav-data.json
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/developer-reference.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-catalog-config.mdx
  website/docs/cloud-docs/integrations/service-now/service-catalog-terraform/service-now-v1/index.mdx
  website/docs/cloud-docs/integrations/service-now/service-graph/service-graph-setup.mdx
  website/img/docs/service-now-updated-config.png
  website/redirects.js
Labels: documentation, Terraform Cloud, do not merge, ServiceNow

#617 Remove beta callout for no-code module updates
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
Labels: Terraform Cloud

#618 Remove TFE exclusion for no-code provisioning
  website/docs/cloud-docs/no-code-provisioning/provisioning.mdx
Labels: Terraform Cloud

#615 April TFE release small updates
  website/docs/cloud-docs/api-docs/index.mdx
  website/docs/cloud-docs/api-docs/oauth-clients.mdx
  website/docs/cloud-docs/architectural-details/security-model.mdx
  website/docs/cloud-docs/registry/test.mdx
  website/docs/cloud-docs/vcs/github-enterprise.mdx
  website/docs/cloud-docs/vcs/github.mdx
  website/docs/cloud-docs/workspaces/settings/run-tasks.mdx
Labels: documentation

#612 Update aggregated status check examples
  website/img/docs/organization-vcs-general-aggregated-status-checks.png
  website/img/docs/organization-vcs-general-non-aggregated-status-checks.png
Labels: documentation, Terraform Cloud

#623 Update modules to use partner instead of verified
  website/data/registry-nav-data.json
  website/docs/plugin/index.mdx
  website/docs/registry/api-docs.mdx
  website/docs/registry/modules/partner.mdx
  website/docs/registry/modules/use.mdx
  website/docs/registry/modules/verified.mdx
  website/img/docs/registry-partner.png
  website/img/docs/registry-verified.png
  website/redirects.js
Labels: documentation

#622 Update docs to leave org w/ new org landing page
  website/docs/cloud-docs/users-teams-organizations/organizations/index.mdx
  website/docs/cloud-docs/users-teams-organizations/users.mdx
Labels: Terraform Cloud
